<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add/Edit/View region</title>
</head>
<body>
<form id="add-form" th:action="@{/region/save}" th:if="${region == null}" method="post" action="region.html">
    <p><strong>Add new region:</strong></p>

    <div class="row">
        <label for="id-input">Id:</label>
        <input id="id-input" name="id" type="text" required="required" maxlength="3"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" required="required" maxlength="50" />
    </div>

    <div class="row">
        <a th:href="@{/regions}" href="regions.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
        <button type="submit">Save</button>
    </div>
</form>
<form id="edit-form" th:action="@{/region/save(id=${region.id})}" th:unless="${region == null}" method="post"
      action="region.html" th:object="${region}">
    <p><strong>Region Info:</strong></p>

    <div class="row">
        <label for="id-input">Id:</label>
        <input id="id-input" type="text" th:value="*{id}" readonly="readonly" value="1"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" th:value="*{name}" required="required" maxlength="50" value="Art"/>
    </div>

    <div class="row">
        <a th:href="@{/regions}" href="regions.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
        <button type="submit"><img alt="Save" th:src="@{/images/save.png}"/></button>
    </div>
</form>
</body>
</html>