<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>List of all regions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function () {
            fillData();
        });

        function fillData(page) {
            $.get('/api/regions' + (page ? '?page=' + page : ''), function (result) {
                let rowsData = '';
                for (let i = 0; i < result.data.length; i++) {
                    let region = result.data[i];
                    var actionButton = '';
                    if (result.admin) {
                        actionButton =
                            '<td>' +
                            '<a href="/region/edit?id=' + region.id + '"><img title="Edit" src="/images/edit.png"/></a>' +
                            '<a data-id="region_' + region.id + '" href="region.html"><img title="Delete" src="/images/delete.png"/></a>' +
                            '</td>'
                    }
                    rowsData += '<tr><td>' + region.id + '</td>' +
                        '<td>' + region.name + '</td>' +
                        actionButton +
                        '</tr>';
                }
                let regionDataElement = $('#regionData');
                regionDataElement.html(rowsData);
                if (result.admin) {
                    $('a[data-id^=region_]').one('click', function (event) {
                        if (confirm('Are you sure to delete this region?')) {
                            let regionId = $(this).attr('data-id').replace('region_', '');
                            $.ajax({
                                url: '/api/regions/' + regionId,
                                type: 'DELETE',
                                success: function () {
                                    location.href = '/regions';
                                },
                                error: function (jqXHR, exception) {
                                    if (jqXHR.status === 403) {
                                        alert('You have no right');
                                    }
                                }
                            });
                        }
                        event.preventDefault();
                    });
                }

                $('#navigation').html(
                    (result.hasPrevious ? ('<a href="javascript:fillData(' + (result.currentPage - 1) + ')">' +
                        '<img title="Previous page" src="/images/previous.png"/>' +
                        '</a>') : '') +
                    'Current page <span>' + (result.currentPage + 1) + '</span> of <span>' + result.totalPage + '</span>' +
                    (result.hasNext ?  ('<a href="javascript:fillData(' + (result.currentPage + 1) + ')">' +
                        '<img title="Next page" src="/images/next.png"/>' +
                        '</a>') : ''));
            });
        }

    </script>
</head>
<body>
<div class="loginPanel" sec:authorize="isAuthenticated()">
    <span class="loginName" sec:authentication="name"></span>
    <div class="logoutButton">
        <a th:href="@{/logout}"><img title="Logout" th:src="@{/images/exit.png}"/></a>
    </div>
</div>
<p><strong><span th:text="#{regions}"></span>:</strong></p>

<div id="navigation"></div>
<table class="regions">
    <thead>
    <tr>
        <th><span th:text="#{id}"></span></th>
        <th><span th:text="#{name}"></span></th>
        <th sec:authorize="hasAuthority('ADMIN')"><span th:text="#{actions}"></span></th>
    </tr>
    </thead>
    <tbody id="regionData"/>
</table>
<div id="toolbar">
    <a th:href="@{/}" href="../index.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/region/add}" href="region.html"><img alt="Add" th:src="@{/images/add.png}"/></a>
</div>
</body>
<style>
    body {
        background: url("https://www.syktyvdincbs.ru/content/152/KNIGA.png") no-repeat;
        background-size: 36% 40%;
        background-position-y: 240px;
    }
</style>
</html>