<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    body {
        background: url("https://catherineasquithgallery.com/uploads/posts/2021-03/1614593704_60-p-kniga-na-belom-fone-kartinki-98.png") no-repeat;
        background-size: 30% 200%;
    }
</style>
<head>
    <meta charset="UTF-8"/>
    <title>Main page</title>
</head>
<body>
<p><strong>Welcome to the main page of the directory of regions / cities:</strong></p>

<ul>
    <li><a th:href="@{/cities}" href="/cities.html">Cities</a></li>
</ul>

<ul>
    <li><a th:href="@{/regions}" href="/regions.html">Regions</a></li>
</ul>

</body>
</html>