<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all cities</title>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function () {
            $("a[id^='city']").click(function (event) {
                if (confirm('Are you sure to delete this city?')) {
                    let cityCode = $(this).attr('name').replace('city_', '');
                    $.ajax({
                        url: '/cities/' + cityCode,
                        type: 'DELETE',
                        success: function (result) {
                            if (result.success) {
                                location.href = '/cities';
                            }
                        }
                    });
                }
                event.preventDefault();
            });
        });
    </script>
</head>


<body>
<p><strong>Genres:</strong></p>

<div id="navigation">
    <a th:if="${cities.hasPrevious}" th:href="@{/templates/city(page=${cities.currentPage-1})}" href="cities.html"><img
            alt="Previous page" th:src="@{/images/previous.png}"/></a>
    Current page <span th:text="${cities.currentPage + 1}">0</span> of <span th:text="${cities.totalPage}">2</span>
    <a th:if="${cities.hasNext}" th:href="@{/cities(page=${cities.currentPage + 1})}" href="cities.html"><img
            alt="Next page" th:src="@{/images/next.png}"/></a>
</div>
<table class="cities">
    <thead>
    <tr>
        <th>ID</th>
        <th>RuCityName</th>
        <th>EngCityName</th>
        <th>Population</th>
        <th>RegionId</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre: ${cities.data}">
        <td th:text="${city.id}">art</td>
        <td th:text="${city.name}">Art</td>
        <td>
            <a th:href="@{/city/edit(code=${city.code})}" href="city.html"><img alt="Edit"
                                                                                   th:src="@{/images/edit.png}"/></a>
            <a id="delete-handler" th:id="${city.codeStr}" th:name="${city.codeStr}" href="city.html"><img
                    alt="Delete" th:src="@{/images/delete.png}"/></a>
        </td>
    </tr>

    </tbody>
</table>
<div id="toolbar">
    <a th:href="@{/}" href="../index.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
    <a th:href="@{/city/add}" href="city.html"><img alt="Add" th:src="@{/images/add.png}"/></a>
</div>
</body>
</html>