<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add/Edit/View city</title>
</head>
<body>
<form id="add-form" th:action="@{/city/create}" th:if="${city == null}" method="post" action="city.html">
    <p><strong>Add new city:</strong></p>

    <div class="row">
        <label for="id-input">Id:</label>
        <input id="id-input" name="id" type="text" required="required" maxlength="5" minlength="1"/>
    </div>

    <div class="row">
        <label for="ruName-input">ruName:</label>
        <input id="ruName-input" name="ruCityName" type="text" required="required" maxlength="50"/>
    </div>

    <div class="row">
        <label for="enName-input">engName:</label>
        <input id="enName-input" name="enCityName" type="text" required="required" maxlength="50"/>
    </div>

    <div class="row">
        <label for="population-input">population:</label>
        <input id="population-input" name="population" type="text" required="required" maxlength="12"/>
    </div>

    <div class="row">
        <label for="region-input">region:</label>
        <input id="region-input" name="region" type="text" required="required" maxlength="120"/>
    </div>

    <div class="row">
        <a th:href="@{/cities}" href="cities.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
        <button type="submit"><img alt="Save" th:src="@{/images/save.png}"/></button>
    </div>
</form>

<form id="edit-form" th:action="@{/city/save(id=${city.id})}" th:unless="${city == null}" method="post"
      action="city.html" th:object="${city}">
    <p><strong>City Info:</strong></p>

    <div class="row">
        <label for="id-input">Id:</label>
        <input id="id-input" type="text" th:value="*{id}" readonly="readonly" value="1"/>
    </div>

    <div class="row">
        <label for="ruName-input">ruName:</label>
        <input id="ruName-input" name="ruCityName" type="text" th:value="*{ruCityName}" required="required"
               maxlength="120" value="Art"/>
    </div>

    <div class="row">
        <label for="enName-input">engName:</label>
        <input id="enName-input" name="enCityName" type="text" th:value="*{enCityName}" required="required"
               maxlength="120" value="Art"/>
    </div>

    <div class="row">
        <label for="population-input">population:</label>
        <input id="population-input" name="population" type="text" th:value="*{population}" required="required"
               maxlength="12" value="Art"/>
    </div>

    <div class="row">
        <label for="region-input">region:</label>
        <input id="region-input" name="region" type="text" th:value="*{region}" required="required" maxlength="50"
               value="Art"/>
    </div>

    <div class="row">
        <a th:href="@{/cities}" href="cities.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
        <button type="submit"><img alt="Save" th:src="@{/images/save.png}"/></button>
    </div>
</form>
</body>
</html>